
body {
background-color: black;

}

.option {

  background-color:#007399;;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family: "Lucida Console", Monaco, monospace;




}

#advTextParagraph{

  height: 50vh;
}




#advTextDiv{
  font-size: xx-large;
  text-align: left;
  background-color: #007399;
  border: 3px;
  border-color: #4e009b;
  border-style: solid;
  border-radius: 5px;
  padding: 1%;
  font-family: "Lucida Console", Monaco, monospace;
  height: 70vh;
  width: 70%;

}


#parentdiv{

  padding-top: 5%px;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;


}
